/*el contenedor de menu*/
.menu-principal{
    background-color:#6ec1e4 ;
    text-align:center;
}

/*la lista*/
.menu-principal ul{
    margin:0;
    padding:0;
    list-style-type:none;
}

/*items d ela lista*/
.menu-principal li{
    display:inline-block;
}

/*los enlaces*/
.menu-principal a {
    display:block;
    padding:15px 25px;
    color:#ffffff
    text-decoration:none;
    font-weight:bold;
    font-size:1.1em;
}

/*efecto hover*/
.menu-principal a:hover{
    background-color:#188ee3;
    color:#fff;
}

/*---estilos generales(body)---*/
/*esto aplica toda la pagina*/
body{
    font-family:arial, sans-serif;/*tipo letra*/
    background-color:#2dd647; /*color de fondo de pagina*/
    color:#333; /*color de texto principal*/
    line-height:1.6; /*altura de la linea para mejor legibilidad */
    margin:0; /*quitamos el margen por defecto del navegador*/
    padding:0; /*quitamos el padding por defecto*/
}

/*---selctores de elemntos(h1,h2,p,footer)---*/
/*aplica a todas las etiquetas<h1>*/
h1{
    color: #1077c1; /*un color azul oscuro para el titulo*/
    text-align:center; /*centramos el texto*/
    padding:20px;
    background-color:#ffffff; /*fondo blanco para el encabezado*/
    margin-top:0;
}

h2{
    color:#2f99e4; /*mismo azul oscuro para subtitulos*/
    border-bottom:2px solid #fdeeee; /* una linea sutil debajo */
    padding-bottom:5px;
}

footer{
    text-align:center;
    margin-top:30px;
    padding:20px;
    background-color:#333;
    color:#fff; /*texto blanco sobre fondo oscuro*/
}

/*---selector de id (#)---*/
/*aplica solo al elemento con id="contenido-principal"(debe ser unico)*/
#Contenido-Principal{
    width:80%; /*ël contenedor ocupara el 80% del ancho*/
    margin:20px auto; /*centra el contenedor horizontalmente*/
    padding:25px; /*espacio interno*/
    background-color:#ffffff; /*fondo blanco*/
    border:1px solid#ddd; /*un borde ligero*/
    box-shadow:02 px 5px rgba(0,0,0,0.1);/*sombra sutil*/
}

/*---selector de clase(.)---*/
/*aplica a cualquier elemento que tenga class="seccion-destacada"*/
.seccion-destacada{
    background-color:#e6f7ff ; /*un fondo azul claro*/
    border:1px solid #b3f0ff; /*un borde azul mas oscuro*/
    padding:20px; 
    margin:20px 10%; /*margen del 10% de izq/der*/
}

/*podemos ser mas especificos: un <p> dentro de un <footer> */
footer .copyrigth{
    font-size:0.9em; /*texto un poco mas pequeño*/
    color:#aaa; /*color gris claro*/
}